<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->
	<!-- wp:post-title {"fontFamily":"display","fontSize":"x-large","style":{"typography":{"textTransform":"uppercase"}}} /-->
	<!-- wp:group {"layout":{"type":"flex"},"fontSize":"small","textColor":"smoke"} -->
	<div class="wp-block-group has-smoke-color has-text-color has-small-font-size">
		<!-- wp:post-date /-->
		<!-- wp:post-author-name /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:comments -->
	<div class="wp-block-comments">
		<!-- wp:comments-title /-->
		<!-- wp:comment-template -->
		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column {"width":"40px"} -->
			<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40} /--></div>
			<!-- /wp:column -->
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:comment-author-name /-->
				<!-- wp:comment-date /-->
				<!-- wp:comment-content /-->
				<!-- wp:comment-reply-link /-->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
		<!-- /wp:comment-template -->
		<!-- wp:comments-pagination /-->
		<!-- wp:post-comments-form /-->
	</div>
	<!-- /wp:comments -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
